<div style="width: 100%" [formGroup]="jobEditForm" >
    <h1 mat-dialog-title style="width: 100%; text-align: center">{{'Edit job' | translate}}</h1>
    <div mat-dialog-content>
      <mat-form-field class="full">
        <input matInput [value]="job.name" formControlName="name"  placeholder="{{'Name' | translate}}">
      </mat-form-field>

    <mat-form-field class="full">
      <mat-select placeholder="{{'Choose category' | translate}}" formControlName="category" [(ngModel)]="job.category.id">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-button class="default" (click)="onNoClick()">{{'Cancel' | translate}}</button>
    <button mat-button class="success text-white" [disabled]="!jobEditForm.valid"  (click)="update()"
            [ngClass]="{'disabled' : !jobEditForm.valid}">{{'Edit' |translate}}</button>
  </div>
</div>
