<mat-horizontal-stepper [linear]="true" class="container">
  <mat-step [stepControl]="jobSelectForm">

    <form [formGroup]="jobSelectForm">
      <ng-template matStepLabel>{{'Check' | translate}}</ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Choose service' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="container">

          <mat-form-field class="full">
            <mat-select placeholder="{{'Choose category' | translate}}" formControlName="category"
                        (selectionChange)="$event.value != null ? getJobsBy(jobSelectForm.get('category').value) : getJobs()">
              <mat-option></mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="jobSelectForm.get('category').valid" class="full">
            <mat-select placeholder="{{'Select job' | translate}}" formControlName="job">
              <mat-option></mat-option>
              <mat-option *ngFor="let job of jobs" [value]="job">{{job.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button  matStepperNext [disabled]="jobSelectForm.invalid" color="primary" >{{'Next'| translate}}</button>
        </mat-card-actions>
      </mat-card>
    </form>

  </mat-step>
  <mat-step [stepControl]="iinSelectForm">
    <form [formGroup]="iinSelectForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <ng-template matStepLabel>{{'Fill out your Individual Identification Number' | translate}}</ng-template>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="container">
          <mat-form-field class="full">
            <input matInput placeholder="{{'Individual identification number' | translate}}" formControlName="iin" required>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button   matStepperPrevious>{{'Back' | translate}}</button>
          <button mat-flat-button   matStepperNext [disabled]="iinSelectForm.invalid"
                  [ngClass]="{'success text-white' : iinSelectForm.valid}"
                  (click)="submitForm()">{{'Finish'| translate}}
          </button>
        </mat-card-actions>
      </mat-card>

    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'Done' | translate}}</ng-template>

    <div>
      <button mat-flat-button   matStepperPrevious>{{'Back' | translate}}</button>
      <button mat-flat-button   (click)="iinSelectForm.reset(); jobSelectForm.reset();">{{'Reset' | translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
