<div class="grid-container">
  <h1 class="mat-h1">{{'Workers' | translate}}</h1>
  <div class="container">
    <form [formGroup]="workerForm" class="container">

      <mat-form-field>
        <input matInput placeholder="{{'Name' | translate}}" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'Username'| translate}}" formControlName="login">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'Password' | translate}}" type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'Jobs' |translate}}" formControlName="jobs" multiple>
          <mat-option *ngFor="let job of jobs" [value]="job">{{job.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <button [disabled]="!workerForm.valid" (click)="save()"
              [ngClass]="{'disabled' : !workerForm.valid}"
              mat-flat-button color="primary">
        {{'Save' | translate}}
      </button>
    </form>

    <table mat-table [dataSource]="dataSource" class="container">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let worker">{{worker.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{'Name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let worker">{{worker.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef>{{'Username' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let worker"> {{worker.login}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobs">
        <mat-header-cell *matHeaderCellDef>{{'Jobs' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let worker" style="margin: 5px;">
          <mat-chip-list >
            <mat-chip *ngFor="let job of worker.jobs"> {{job.name}} </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>{{'Actions' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let worker">
          <button mat-flat-button class="danger" (click)="delete(worker)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-flat-button color="primary" (click)="openDialog(worker)" style="margin: 4px;">
            <mat-icon>sync</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
</div>
