<form [formGroup]="sendMessageForm">
  <mat-card>
    <mat-card-content>
      <mat-grid-list  [cols]="breakpoint"  rowHeight="2:1" gutterSize="20px" (window:resize)="onResize($event)">
        <mat-grid-tile [ngStyle]="{'background-color' : (!task.worker) ? 'grey' : 'rgb(123,220,123)'} "
                       style="color: white; font-size: 100%; text-align: center;" *ngFor="let task of tasks">

          <ng-template [ngIf]="!task.worker">
            {{ 'Waiter'|translate }}: {{task.id}} - {{'waiting' | translate}}
          </ng-template>

          <ng-template [ngIf]="task.worker">
            {{ 'Waiter'|translate }}: {{task.id}} {{'Goes to' | translate}} {{task.worker.login}} : {{task.worker.name}}
          </ng-template>
          
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</form>
